<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- JS -->
	<script th:src="@{/js/projects/idDetails.js}"></script> 
</head>
<body>

	<div th:replace="./smnsh/header" :: header class="sensit-header"></div>
	
	<div th:each="log : ${logs}">
		<p>
			<span th:text="|${log.time} : ${log.action.namePl} : ${log?.subject?.nameFirst} ${log?.subject?.nameLast}"></span>
		</p>
		<p>
			<span th:text="${log?.project?.name}"></span>
		</p>
	</div>
	
	<div th:replace="./smnsh/footer" :: footer class="sensit-footer"></div>

</body>
</html>