<head>
	<meta charset="UTF-8">
</head>

<div th:fragment="menu-main" class="sensit-menu">
		<div class="menu">
			<ul class="nav nav-pills">
 				<li class="nav-item m-1">
 					<a class="nav-link" href="/">
 						<p class="sensit-langPl">STRONA DOMOWA</p>
 						<p class="sensit-langEn">HOME PAGE</p>
 					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/initData">
 						<p class="sensit-langPl">INICJALIZACJA BAZY DANYCH</p>
 						<p class="sensit-langEn">INIT. DATABASE</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/thymeleaf/projects">
 						<p class="sensit-langPl">PROJEKTY (thymeleaf)</p>
 						<p class="sensit-langEn">PROJECTS (thymeleaf)</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="/smnsh/jsp/projects">
 						<p class="sensit-langPl">PROJEKTY (.jsp)</p>
 						<p class="sensit-langEn">PROJECTS (.jsp)</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">APARATURA</p>
 						<p class="sensit-langEn">DEVICES</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">KLIENCI/INWESTORZY</p>
 						<p class="sensit-langEn">INVESTORS</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/companies/subcontractors-room-adaptation">
 						<p class="sensit-langPl">PODWYKONAWCY</p>
 						<p class="sensit-langEn">SUBCONTRACTORS</p>
					</a>
				</li>
				<li class="nav-item m-1 border-left">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">UŻYTKOWNICY</p>
 						<p class="sensit-langEn">USERS</p>
					</a>
				</li>
				
				<!-- DISABLED TEST -->			
				<li class="nav-item m-1">
					<a href="#" class="nav-link disabled">
						<p class="sensit-langPl">ZAREJESTRUJ</p>
						<p class="sensit-langEn">REGISTER</p>
					</a>
				</li>
				<li class="nav-item m-1 dropdown">
				  	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<p class="sensit-langPl">ZALOGUJ</p>
						<p class="sensit-langEn">LOGIN</p>
			  		</a>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="#">Piotr W.</a>
				    <a class="dropdown-item" href="#">Ewa W.M.</a>
				    <a class="dropdown-item" href="#">Sebastian K.</a>
				    <a class="dropdown-item" href="#">Magdalena S.</a>
				    <a class="dropdown-item" href="#">Marika J.B.</a>
				    <a class="dropdown-item" href="#">Emila B.</a>
				    <a class="dropdown-item" href="#">Wojciech P.</a>
				    <a class="dropdown-item" href="#">Krzysztof S.</a>
				    <a class="dropdown-item" href="#">Henryk S.</a>
				    <a class="dropdown-item" href="#">Sebastian R.</a>
				    <a class="dropdown-item" href="#">Piotr S.</a>
				    <a class="dropdown-item" href="#">Arkadiusz O.</a>
				    <a class="dropdown-item" href="#">Kamil S.</a>
				    <a class="dropdown-item" href="#">Mateusz C.</a>
				    <a class="dropdown-item" href="#">Jarosław N.</a>
				    <a class="dropdown-item" href="#">Sebastian S.</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">Maciej D.</a>
				    <a class="dropdown-item" href="#">Karol D.</a>
				    <a class="dropdown-item" href="#">Krzysztof K.</a>
   				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">Wojciech G.</a>
				    <a class="dropdown-item" href="#">Ryszard G.</a>
				  </div>
				</li>
				
				
			</ul>
		</div>
</div>