<html xmlns:th="https://www.thymeleaf.org" 
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
	<meta charset="UTF-8">
</head>

<div th:fragment="menu-main" class="sensit-menu">
	<div class="row">
	<div class="col-10">
	
			<ul class="nav nav-pills">
 				<li class="nav-item m-1">
 					<a class="nav-link" href="/">
 						<p class="sensit-langPl">STRONA DOMOWA</p>
 						<p class="sensit-langEn">HOME PAGE</p>
 					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/initData">
 						<p class="sensit-langPl">INICJALIZACJA BAZY DANYCH</p>
 						<p class="sensit-langEn">INIT. DATABASE</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/thymeleaf/projects">
 						<p class="sensit-langPl">PROJEKTY (thymeleaf)</p>
 						<p class="sensit-langEn">PROJECTS (thymeleaf)</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="/smnsh/jsp/projects">
 						<p class="sensit-langPl">PROJEKTY (.jsp)</p>
 						<p class="sensit-langEn">PROJECTS (.jsp)</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">APARATURA</p>
 						<p class="sensit-langEn">DEVICES</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">KLIENCI/INWESTORZY</p>
 						<p class="sensit-langEn">INVESTORS</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" href="/smnsh/companies/subcontractors-room-adaptation">
 						<p class="sensit-langPl">PODWYKONAWCY</p>
 						<p class="sensit-langEn">SUBCONTRACTORS</p>
					</a>
				</li>
				<li class="nav-item m-1 border-left">
					<a class="nav-link disabled" href="#">
 						<p class="sensit-langPl">UŻYTKOWNICY</p>
 						<p class="sensit-langEn">USERS</p>
					</a>
				</li>			
			</ul>

		</div>
	
	<div class="col-2 text-right pr-5">
		
			<div class="d-inline-block mr-2 pr-2 border-right" sec:authorize="isAuthenticated()">
				<span class="material-icons">
					account_circle
				</span>
			</div>
		    <h3 class="d-inline-block avatar-name" sec:authorize="isAuthenticated()">
				<span sec:authentication="name"></span>
			</h3>
			<a class="btn btn-sm d-inline-block text-primary border" th:href="@{/smnsh/projects/user/springsecurityname/{userNameBySpringSecurity}(userNameBySpringSecurity=${#authentication.name})}" sec:authorize="isAuthenticated()">
				<p class="sensit-langPl">MOJE PROJEKTY</p>
				<p class="sensit-langEn">MY PROJECTS</p>
			</a>
			<a class="btn btn-sm d-inline-block text-danger border-top" href="/logout" sec:authorize="isAuthenticated()">
				<p class="sensit-langPl">WYLOUGUJ</p>
				<p class="sensit-langEn">LOGOUT</p>
			</a>
			
		
	</div>
	
	</div>
</div>