<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- JS -->
	<script th:src="@{/js/projects/idDetailsAndMilestones.js}"></script> 
</head>
<body>

	<div th:replace="./smnsh2/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh2/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>

	<div class="container">
		
		<div class="card sensit-card">
			<div class="card-header">
				<div class="row">
					<div class="col-12 text-center">
						<p class="sensit-langPl">KAMIENIE MILOWE PROJEKTU</p>
						<p class="sensit-langEn">PROJECT MILESTONES</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-right">
						<a th:href="@{/smnsh2/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" 
							class="btn btn-outline-success text-center"
							th:classappend="${milestoneInstanceNew} != null ? 'disabled'"
						>
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row d-none">	
					<div class="col-4 title">Id projektu</div>
					<div class="col-8 content"><span id="projectId" th:text="${project.id}"/></div>
				</div>
				
				<!-- THE NEW MILESTONE FORM -->
				<div class="container border border-success m-1 p-3" th:if="${milestoneInstanceNew != null}">
					<form action="#" th:action="@{/smnsh2/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" method="post" th:object="${milestoneInstanceNew}">
					<div class="card border-0">
						<div class="row">
							<input type="text" th:field="*{id}" hidden="true"/>
						</div>
						<div class="row">
							<input type="text" th:field="*{project.id}" th:value="${milestoneInstanceNew.project}" hidden="true"/>
						</div>
						<div class="row mb-3">
							<div class="col-12 text-center">
								<p class="sensit-langPl">NOWY KAMIEŃ MILOWY</p>
								<p class="sensit-langEn">new milestone</p>
							</div>
						</div>

						<div class="row">
							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">NAZWA</p>
								<p class="sensit-langEn font-weight-normal">name</p>
							</div>
							<div class="col-3 content">
								<input class="sensit-langPl font-weight-bold width100" th:field="*{namePl}"/>
								<!--  
								<input class="sensit-langEn font-weight-bold width100" th:field="*{nameEn}"/>
								-->
							</div>
							<div class="col-1 title">
								<p class="sensit-langPl font-weight-normal">Status</p>
								<p class="sensit-langEn font-weight-normal">Status</p>
							</div>
							<div class="col-5 content">
								<input type="radio" th:field="*{status}" value="WAITING" th:text="OCZEKUJE"/><br/>
								<input type="radio" th:field="*{status}" value="IN_PROGRESS" th:text="W_TOKU"/><br/>
								<input type="radio" th:field="*{status}" value="CANCELED" th:text="ANULOWANY"/><br/>
								<input type="radio" th:field="*{status}" value="FINISHED" th:text="ZAKOŃCZONY"/>
							</div>
							<div class="col-1 text-right">
								<button class="btn btn-sm btn-outline-success sensit-btn-height">
									<p class="sensit-langPl">ZAPISZ</p>	
									<p class="sensit-langEn">save</p>
								</button>
							</div>
						</div>
						<!--  
						<div class="row">
							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">OPIS</p>
								<p class="sensit-langEn font-weight-normal">description</p>
							</div>
							<div class="col-10 content">
								<input class="font-weight-bold" type="text" th:field="*{description}"/>
							</div>
						</div>
						-->
						<div class="row">
							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">TERMIN REALIZACJI</p>
								<p class="sensit-langEn font-weight-normal">deadline</p>
							</div>
							<div class="col-10 content">
								<input class="font-weight-bold" type="date" th:field="*{deadline}"/>
							</div>

							
						</div>
					</div>
					</form>
				</div>
				<!-- ENDO OF THE NEW MILESTONE FORM -->
				
				
				<div class="row" th:each="milestone: ${project.milestones}">
					<div class="col-12">
						<div class="row">
							<div class="col-1 title">
								<p class="sensit-langPl font-weight-normal">NAZWA</p>
								<p class="sensit-langEn font-weight-normal">name</p>
							</div>
							<div class="col-3 content">
								<p class="sensit-langPl font-weight-bold" th:text="${milestone?.namePl != null} ? ${milestone?.namePl} : ${milestone?.milestoneTemplate?.namePl}"/>
								<p class="sensit-langEn font-weight-normal" th:text="${milestone?.nameEn != null} ? ${milestone?.nameEn} : ${milestone?.milestoneTemplate?.nameEn}"/>
								
							</div>
							<div class="col-1 title">
								<p class="sensit-langPl font-weight-normal">Status</p>
								<p class="sensit-langEn font-weight-normal">Status</p>
							</div>
							<div class="col-5 content">
								<button 
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=WAITING(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-WAITING'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'WAITING' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">OCZEKUJE</p>	
									<p class="sensit-langEn">waiting</p>
								</button>
								<button 
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=IN_PROGRESS(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-IN_PROGRESS'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'IN_PROGRESS' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">W TOKU</p>	
									<p class="sensit-langEn">in progress</p>
								</button>
								<button 
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=CANCELED(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-CANCELED'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'CANCELED' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">ANULOWANY</p>	
									<p class="sensit-langEn">canceled</p>
								</button>
								<button 
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=COMPLETED(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-COMPLETED'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'COMPLETED' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">ZAKOŃCZONY</p>	
									<p class="sensit-langEn">completed</p>
								</button>
							</div>
							<div class="col-1 text-right">
								<button 
									class="btn btn-sm btn-outline-primary sensit-btn-height btn-edit"
									th:id="'milestoneId-'+${milestone.id}+'-EDIT'"
								>
									<p class="sensit-langPl">EDYTUJ</p>	
									<p class="sensit-langEn">edit</p>
								</button>
							</div>
							<div class="col-1 text-right">
								<button 
									class="btn btn-sm btn-outline-danger sensit-btn-height btn-delete"
									th:id="'milestoneId-'+${milestone.id}+'-DELETE'"
								>
									<p class="sensit-langPl">USUŃ</p>	
									<p class="sensit-langEn">del</p>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-5 title">
								<p class="sensit-langPl font-weight-normal">TERMIN REALIZACJI</p>
								<p class="sensit-langEn font-weight-normal">deadline</p>
							</div>
							<div class="col-5 content"><span class="font-weight-bold" th:text="${milestone.deadline}"/>
							</div>

							
						</div>
					</div>

				
				</div> <!-- end of the row with information about milestone -->
				
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 text-right">
						<a th:href="@{/smnsh2/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" 
							class="btn btn-outline-success text-center"
							th:classappend="${milestoneInstanceNew} != null ? 'disabled'"
							>
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="./smnsh2/footer" :: footer class="sensit-footer"></div>

</body>
</html>