<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	
</head>
<body>

	<div th:replace="./smnsh2/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh2/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>
	
	<div class="container" style="min-height:250px">
	
		<div class="row cards-in-columns">
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">KONFIGURACJA SPRZĘTU</p>
						<p class="sensit-langEn">DEVICE CONFIGURATION</p>
					</div>
					<div class="card-body">
						<div th:each="configurationDevice : ${project?.installation?.deviceInstance?.configurationDeviceList}">
							<div th:unless="${#lists.isEmpty(configurationDevice?.partList)}">
								<div class="row border-top mt-4">
									<div class="col-4">
										<p class="sensit-langPl">KONFIGURACJA:</p>
										<p class="sensit-langEn">configuration:</p>
									</div>
									<div class="col-3">
										<p th:text="${configurationDevice?.name}"></p>
									</div>
										<!--
									<div class="col-2">
										<div>
											<a th:href="${configurationDevice?.linkToHdd}" target="_blank" class="align-middle pt-2 text-sm">LINK >>></a>
										</div>
									</div>
									-->
									<div class="col-3">
										<div>
											<p th:text="${configurationDevice?.created}"></p>
										</div>
									</div>
									<div class="col-2">
										<a th:href="@{/smnsh2/projects/{projectId}/configurations/delete(projectId=${project.id},configurationDeviceId=${configurationDevice.id})}" class="btn btn-sm btn-outline-danger float-right">
											<p class="sensit-langPl">USUŃ</p>
											<p class="sensit-langEn">delete</p>
										</a>
									</div>		
								</div>							

								<div th:each="part : ${configurationDevice?.partList}">
									<p th:text="${part.description}" class="sensit-langPl"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<!-- JFileChooser -->
						<!--
						<a th:href="@{/smnsh2/projects/{id}/configurations/new(id=${project.id})}" class="btn btn-sm btn-outline-success">+</a>
						-->
						<!-- HTML form with two inputs: path (option) and file/name -->
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh2/projects/{id}/configurationLinks(id=${project.id})}">
							<!-- Needed if application will store a link to a file on hdd
							<input type="text" name="filePath" class="form-control-sm width75 border" placeholder="link/ścieżka dostępu do pliku"/>
							-->
							<input type="text" name="fileName" disabled class="form-control-sm d-none"/>
							<input type="file" name="multipartFile" class="form-control-sm"/>
							<button type="submit"  class="btn btn-sm btn-outline-success">
								<p class="sensit-langPl">IMPORTUJ Z XLS</p>
								<p class="sensit-langEn">IMPORT FROM XLS</p>
							</button>
							<!--
							<hr>
							<p class="font-italic width100 text-muted">
								Aby móc pózniej pobrać plik z poziomu aplikacji, podczas wgrywania pliku, wklej jego link/ścieżkę dostępu do katalogu:<br>
								(przeglądaj... -> wybrany plik ->  prawy przycisk myszy -> właściwości/properties -> 
								lokalizacja/location -> ctrl-c -> otwórz/open -> ctrl-v)
							</p>
							-->
						</form>
					</div>

				</div>
			</div>			
		</div>
		
	</div>

	<div th:replace="./smnsh2/footer" :: footer class="sensit-footer"></div>

</body>
</html>