<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div th:replace="./smnsh2/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh2/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>

	<div class="container">
	<form action="#" th:action="@{/smnsh2/projects/{id}/remarks(id=${project.id})}" method="post" th:object="${newRemark}">
		
		<div class="card sensit-card">
			<div class="card-header">
				<div class="col-12 text-center">
					<p class="sensit-langPl">UWAGI DO PROJEKTU</p>
					<p class="sensit-langEn">PROJECT REMARKS</p>
				</div>
			</div>
			<div class="card-body">
			
				<div class="row" th:each="remark : ${project.remarks}">
					
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">Data dodania:</div>
							<div class="col-8"><span th:text="|${remark.dateTimeOfCreation.toLocalDate} ${remark.dateTimeOfCreation.toLocalTime}|"/></div>
						</div>
					</div>
					
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">
								Autor:
							</div>
							<div class="col-8">
								<span th:if="${remark.author.nameFirst != null}">
									<span th:text="${remark.author.nameFirst}"/>
								</span>
								<span th:if="${remark.author.nameLast != null}">
									<span th:text="${remark.author.nameLast}"/>
								</span>
							</div>
						</div>
					</div>
					
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">Treść:</div>
							<div class="col-8 content"><span th:text="${remark.text}" style="white-space: pre-line"/></div>
						</div>
					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-4 title"></div>
							<div class="col-8 content">
								<a th:href="@{/remarks/delete/{remarkId}?backToPage=/smnsh2/projects/{projectId}/remarks (remarkId=${remark.id},projectId=${remark.project.id})}" class="btn btn-sm btn-outline-danger float-right">
									<p class="sensit-langPl">USUŃ</p>
									<p class="sensit-langEn">DEL</p>
								</a>
							</div>
						</div>
					</div>
	
				</div>
				
				<!-- *** -->
				<!-- *** NEW REMARK FORM FIELDS -->
				<div th:if="${newRemark} != null" class="row mt-5 mb-5">

					<div class="col-12">
						<div class="row">
							<div class="col-4 title" hidden="true">Id:</div>
							<div class="col-8">
								<input th:field="*{id}" type="hidden"/>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">Data dodania:</div>
							<div class="col-8">
								<span th:text="${newRemark.dateTimeOfCreation.toLocalDate}"></span>
								<input th:field="*{dateTimeOfCreation}" type="hidden"/>
							</div>
						</div>
					</div>
					
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">
								Autor:
							</div>
							<div class="col-8">
								<span th:text="${newRemark.author.nameFirst}+' '+${newRemark.author.nameLast}"/>
								<input th:field="*{author}" type="hidden" th:if="${newRemark.author != null}"/>
							</div>
						</div>
					</div>
					
					<div class="col-12">
						<div class="row">
							<div class="col-4 title">Treść:</div>
							<div class="col-8 content">
								<textarea th:field="*{text}" type="text" class="width100" style="height: 100px"/>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 text-right">
						<a th:if="${newRemark == null}" th:href="@{/smnsh2/projects/{projectId}/remarks(projectId=${project.id}, edit=true, author=${#authentication.name})}" class="btn btn-outline-success text-center">
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</a>
						<a th:if="${newRemark != null}" th:href="@{/smnsh2/projects/{projectId}/remarks(projectId=${project.id})}" class="btn btn-outline-warning float-left">
							<p class="sensit-langPl">ANULUJ</p>
							<p class="sensit-langEn">CANCEL</p>
						</a>
						<button th:if="${newRemark != null}" type="submit" class="btn btn-outline-success text-center">
							<p class="sensit-langPl">ZAPISZ</p>
							<p class="sensit-langEn">SAVE</p>
						</button>
					</div>
				</div>
			</div>

		</div>
		
	</form>
	</div>


	<div th:replace="./smnsh2/footer" :: footer class="sensit-footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</body>
</html>