<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- JS -->
	<script th:src="@{/js/projects/idDetailsAndMilestones.js}"></script> 
</head>
<body>

	<div th:replace="./smnsh2/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh2/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>

	<div class="container">
		
		<div id="paramEdit" th:text="${edit}" class="d-none"></div>
		
		<div class="card sensit-card">
			<div class="card-header">
				<div class="row">
					<div class="col-12 text-center">
						<p class="sensit-langPl">KAMIENIE MILOWE PROJEKTU</p>
						<p class="sensit-langEn">PROJECT MILESTONES</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-right">
						<a th:href="@{/smnsh/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" 
							class="btn btn-outline-success text-center"
							th:classappend="${milestoneInstanceNew != null and milestoneInstanceNew.id == 0} ? 'disabled'"
						>
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row d-none">	
					<div class="col-4 title">Id projektu</div>
					<div class="col-8 content"><span id="projectId" th:text="${project.id}"/></div>
				</div>

				<!-- NEW MILESTONE FORM WITH JS -->
				<div class="row border border-success pt-5 pb-5" th:if="${milestoneInstanceNew != null}">
					<form class="width100" action="#" th:action="@{/smnsh/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" method="post" th:object="${milestoneInstanceNew}">
						<div class="col-12">
							<div class="row">
								<input type="hidden" th:field="${milestoneInstanceNew.id}"/>
							</div>
							<div class="row">
								<input type="text" th:field="*{project.id}" th:value="${milestoneInstanceNew.project}" hidden="false"/>
							</div>
							<div class="row">
								<div class="col-1 title">
									<p class="sensit-langPl font-weight-normal">NAZWA PL</p>
									<p class="sensit-langEn font-weight-normal">name pl</p>
								</div>
								<div class="col-3 content">
									<input type="text" th:field="${milestoneInstanceNew.namePl}" class="width100"/>
								</div>
								<div class="col-1 title">
									<p class="sensit-langPl font-weight-normal">Status</p>
									<p class="sensit-langEn font-weight-normal">Status</p>
								</div>
								<div class="col-5 content">
									<input id="inputStatus" type="hidden" th:field="${milestoneInstanceNew.status}"/>
									<button
										type="button" 
										th:href="@{#}" 
										data-status="WAITING"
										class="btn btn-sm sensit-btn-height" 
										>
										<p class="sensit-langPl">OCZEKUJE</p>	
										<p class="sensit-langEn">waiting</p>
									</button>
									<button 
										type="button"
										th:href="@{#}" 
										data-status="IN_PROGRESS"
										class="btn btn-sm sensit-btn-height" 
										>
										<p class="sensit-langPl">W TOKU</p>	
										<p class="sensit-langEn">in progress</p>
									</button>
									<button 
										type="button"
										th:href="@{#}" 
										data-status="CANCELED"
										class="btn btn-sm sensit-btn-height" 
										>
										<p class="sensit-langPl">ANULOWANY</p>	
										<p class="sensit-langEn">canceled</p>
									</button>
									<button 
										type="button"
										th:href="@{#}" 
										data-status="COMPLETED"
										class="btn btn-sm sensit-btn-height" 
										>
										<p class="sensit-langPl">ZAKOŃCZONY</p>	
										<p class="sensit-langEn">completed</p>
									</button>
								</div>
								<div class="col-1 text-right">
									<a
										th:href="@{|/smnsh2/projects/${project.id}/milestones?edit=false|}" 
										class="btn btn-sm btn-outline-warning sensit-btn-height btn-cancel"
									>
										<p class="sensit-langPl">ANULUJ</p>	
										<p class="sensit-langEn">cancel</p>
									</a>
								</div>
								<div class="col-1 text-right">
									<button 
										type="submit"
										class="btn btn-sm btn-outline-success sensit-btn-height btn-save"
									>
										<p class="sensit-langPl">ZAPISZ</p>	
										<p class="sensit-langEn">save</p>
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-1 title">
									<p class="sensit-langPl font-weight-normal">NAZWA EN</p>
									<p class="sensit-langEn font-weight-normal">name en</p>
								</div>
								<div class="col-3 content">
									<input type="text" th:field="${milestoneInstanceNew.nameEn}" class="width100"/>
								</div>
							</div>
							<div class="row">
								<div class="col-5 title">
									<p class="sensit-langPl font-weight-normal">TERMIN REALIZACJI</p>
									<p class="sensit-langEn font-weight-normal">deadline</p>
								</div>
								<div class="col-5 content">
									<input type="date" th:field="${milestoneInstanceNew.deadline}"/>
								</div>
	
								
							</div>
						</div>
					</form>
				</div>
				<!-- END OF NEW MILESTONE FORM WITH JS -->
				
				<!-- LIST OF ALL MILESTONES IN THE PROJECT-->
				<div class="row" th:each="milestone: ${project.milestones}">
					<div class="col-12">
						<div class="row">
							<div class="col-1 title">
								<p class="sensit-langPl font-weight-normal">NAZWA</p>
								<p class="sensit-langEn font-weight-normal">name</p>
							</div>
							<div class="col-3 content">
								<div th:if="${milestone.milestoneTemplate != null}">
									<input class="sensit-langPl width100" type="text" th:value="${milestone?.milestoneTemplate?.namePl}" readonly disabled/>
									<input class="sensit-langEn width75" type="text" th:value="${milestone?.milestoneTemplate?.nameEn}" readonly disabled/>		
								</div>
								<div th:if="${milestone.milestoneTemplate == null}">
									<input th:data-milestoneid="${milestone.id} "class="inputNamePl sensit-langPl width100" type="text" th:value="${milestone?.namePl}"/>
									<input th:data-milestoneid="${milestone.id}" class="inputNameEn sensit-langEn width75" type="text" th:value="${milestone?.nameEn}"/>		
								</div>
							</div>
							<div class="col-1 title">
								<p class="sensit-langPl font-weight-normal">Status</p>
								<p class="sensit-langEn font-weight-normal">Status</p>
							</div>
							<div class="col-6 content">
								<button 
									type="button"
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=WAITING(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-WAITING'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'WAITING' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">OCZEKUJE</p>	
									<p class="sensit-langEn">waiting</p>
								</button>
								<button 
									type="button"
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=IN_PROGRESS(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-IN_PROGRESS'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'IN_PROGRESS' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">W TOKU</p>	
									<p class="sensit-langEn">in progress</p>
								</button>
								<button 
									type="button"
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=CANCELED(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-CANCELED'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'CANCELED' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">ANULOWANY</p>	
									<p class="sensit-langEn">canceled</p>
								</button>
								<button 
									type="button"
									th:href="@{/smnsh2/projects/{id}/milestones/{milestoneId}/set-status?status=COMPLETED(id = ${project.id}, milestoneId = ${milestone.id})}" 
									th:id="'milestoneId-'+${milestone.id}+'-COMPLETED'"
									class="btn btn-sm sensit-btn-height btn-status" 
									th:classappend="${milestone?.status?.name == 'COMPLETED' ? 'btn-outline-success' : 'btn-outline-secondary'}"
									>
									<p class="sensit-langPl">ZAKOŃCZONY</p>	
									<p class="sensit-langEn">completed</p>
								</button>
							</div>
							<!-- edit functionality is realized using js and ajax  -->
							<!-- 
							<div class="col-1 text-right>
								<a 
									th:if="${milestone.milestoneTemplate == null}"
									th:href="@{|/smnsh/projects/${project.id}/milestones/instances/edit/${milestone.id}|}"
									th:data-milestone-id="${milestone.id}"
									class="btn btn-sm btn-outline-primary sensit-btn-height btn-edit"
									th:id="'milestoneId-'+${milestone.id}+'-EDIT'"
								>
									<p class="sensit-langPl">EDYTUJ</p>	
									<p class="sensit-langEn">edit</p>
								</a>
							</div>
							-->
							<div class="col-1 text-right">
								<button 
									th:if="${milestone.milestoneTemplate == null}"
									type="button"
									class="btn btn-sm btn-outline-danger sensit-btn-height btn-delete"
									th:id="'milestoneId-'+${milestone.id}+'-DELETE'"
								>
									<p class="sensit-langPl">USUŃ</p>	
									<p class="sensit-langEn">del</p>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-5 title">
								<p class="sensit-langPl font-weight-normal">TERMIN REALIZACJI</p>
								<p class="sensit-langEn font-weight-normal">deadline</p>
							</div>
							<div class="col-5 content">
								<input class="inputDeadline" th:data-milestoneid="${milestone.id}" type="date" th:value="${milestone.deadline}"/>
								
							</div>

							
						</div>
					</div>

				
				</div>
				<!-- END OF THE LIST OF ALL MILESTONES IN THE PROJECT-->
				
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 text-right">
						<a th:href="@{/smnsh2/projects/{projectId}/milestones/instances/new(projectId=${project.id})}" 
							class="btn btn-outline-success text-center"
							th:classappend="${milestoneInstanceNew} != null ? 'disabled'"
							>
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="./smnsh2/footer" :: footer class="sensit-footer"></div>

</body>
</html>