@charset "UTF-8";

@import url(./style-cards.css);
@import url(./tooltip.css);

.sensit-test {
	background-color: yellow;
	border: 1px solid #009898;
	color: #ec6602;
}

.sensit-header {
	min-height: 125px;
	background-color: #f2f2f2;
	border-bottom: 1px solid gray;
	padding: 1px;
	position: relative;
}

.sensit-header .logo {
	text-align: right;
}

.sensit-menu {
	background-color: #f2f2f2;
}

.sensit-footer {
	font-size: 16px;
	height: 75px;
	background-color: #f2f2f2;	
}

.sensit-Hmin250px {
	min-height: 250px;
	background-color: gray;
}

.sensit-disabled:hover {
	cursor: not-allowed;
}

.sensit-langPl {
    font-style: normal;
    font-weight: bold;
    font-size: small;
    margin: 0;
    padding: 0;
}

.sensit-langEn {
    font-style: italic;
    font-weight: normal;
    font-size: x-small;
    margin: 0;
    padding: 0;
}

.sensit-btn-height {
	height: 37px;
	padding-top: 0;
}

.sensit-attachment-thumbnail {
	display: inline-block;
	width: 75px;
	height: 75px;
	border: 1px solid #009898;
	color: #ec6602;
}

.-sensit-error {
    color: red;
    font-size: 12px;
    font-style: italic;
}