@charset "UTF-8";

.sensit-tooltip {
	display: inline-block;
	cursor: help;
}

.sensit-tooltip .sensit-tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

.sensit-tooltip:hover .sensit-tooltip-text {
	visibility: visible;
}