<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<!-- JS -->
	<script th:src="@{/js/projects/idDetails.js}"></script> 
</head>
<body>

	<div th:replace="./smnsh/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>

	<div class="container">
		
		<div class="card sensit-card">
			<div class="card-header">
				<div class="col-12 text-center">
					<p class="sensit-langPl">SZCZEGÓŁY PROJEKTU</p>
					<p class="sensit-langEn">PROJECT DETAILS</p>
				</div>
			</div>
			<div class="card-body">
				<div class="row d-none">	
					<div class="col-4 title">Id projektu</div>
					<div class="col-8 content"><span id="projectId" th:text="${project.id}"/></div>
				</div>
				<div class="row">	
					<div class="col-4 title">Nazwa projektu</div>
					<div class="col-8 content"><span th:text="${project.name}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Kod projektu</div>
					<div class="col-8 content"><span th:text="${project.code}"/></div>
				</div>

				<div class="row">
					<div class="col-4 title">Geneza projektu</div>
					<div class="col-8 content"><span th:text="${project.background}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Cele projetu</div>
					<div class="col-8 content"><span th:text="${project.goals}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Ryzyka projektu</div>
					<div class="col-8 content"><span th:text="${project.risks}"/></div>
				</div>

				<div class="row">
					<div class="col-4 title">Aparat oferowany</div>
					<div class="col-8 content"><span th:text="${project.devicePortfolio.modality} + ' ' + ${project.devicePortfolio.modelName}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Nr umowy</div>
					<div class="col-8 content"><span th:text="${project.contractNo}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Klinet/Inwestor (płatnik)</div>
					<div class="col-8 content">
						<div class="row">
							<div class="col-12">
								<span th:text="${project.investor.name}"/>
							</div>							
							<div class="col-12">
								<span th:text="|${project.investor.contactDetails.address.country};|"/>
								<span th:text="${project.investor.contactDetails.address.zipCode} "/>
								<span th:text="|${project.investor.contactDetails.address.city}, |"/>
								<span th:text="|ul. ${project.investor.contactDetails.address.streetName} |"/>
								<span th:text="${project.investor.contactDetails.address.streetNo}"/>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4 title">Klient/Konsument (odbiorca/użytkownik)</div>
					<div class="col-8 content"><span th:text="..."/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Miejsce instalacji</div>
					<div class="col-8 content"><span th:text="..."/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Termin realizacji</div>
					<div class="col-8 content"><span th:text="${project.deadline}"/></div>
				</div>
				<div class="row">
					<div class="col-4 title">Status</div>
					<div class="col-8 content">
						<!-- <span th:text="${project.status.namePl}"/> -->
						<button 
							id="btn-undefined"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'UNDEFINED' ? 'btn-outline-success' : 'btn-outline-dark'}"
							>
							<p class="sensit-langPl">BRAK DANYCH</p>	
							<p class="sensit-langEn">undefined</p>
						</button>
						<button 
							id="btn-precontract"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'PRE-CONTRACT' ? 'btn-outline-success' : 'btn-outline-dark'}"
							>
							<p class="sensit-langPl">AKWIZYCJA</p>	
							<p class="sensit-langEn">pre-contract</p>
						</button>
						<button 
							id="btn-contract"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'CONTRACT' ? 'btn-outline-success' : 'btn-outline-dark'}"
							> 
							<p class="sensit-langPl">UMOWA</p>	
							<p class="sensit-langEn">contract</p>
						</button>
						<button
							id="btn-execution"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'EXECUTION' ? 'btn-outline-success' : 'btn-outline-dark'}"
							> 
							<p class="sensit-langPl">REALIZACJA</p>	
							<p class="sensit-langEn">execution</p>
						</button>
						<button 
							id="btn-nobid"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'NO-BID' ? 'btn-outline-success' : 'btn-outline-dark'}"
							>
							<p class="sensit-langPl">ANULOWANY</p>	
							<p class="sensit-langEn">no-bid</p>
						</button>
						<button 
							id="btn-completed"
							class="btn btn-sm sensit-btn-height btn-status"
							th:classappend="${project.status.nameEn == 'COMPLETED' ? 'btn-outline-success' : 'btn-outline-dark'}"
							>
							<p class="sensit-langPl">ZAKOŃCZONY</p>	
							<p class="sensit-langEn">completed</p>
						</button>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 text-right">
						<button class="btn btn-outline-primary text-center disabled">
							<p class="sensit-langPl">EDYTUJ</p>
							<p class="sensit-langEn">EDIT</p>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="./smnsh/footer" :: footer class="sensit-footer"></div>

</body>
</html>