<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div th:replace="./smnsh/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>

	<div class="container">
		
		<div class="card sensit-card">
			<div class="card-header">
				<div class="col-12 text-center">
					<p class="sensit-langPl">KAMIENIE MILOWE</p>
					<p class="sensit-langEn">MILESTONES</p>
				</div>
			</div>
			<div class="card-body">
				<div class="row" th:each="milestone: ${project.milestones}">
				
					<div class="col-10">
						<div class="row">
							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">NAZWA</p>
								<p class="sensit-langEn font-weight-normal">name</p>
							</div>
							<div class="col-10 content"><span class="font-weight-bold" th:text="${milestone}"/></div>
						</div>
						<div class="row">
							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">TERMIN REALIZACJI</p>
								<p class="sensit-langEn font-weight-normal">deadline</p>
							</div>
							<div class="col-2 content"><span class="font-weight-bold" th:text="0000-00-00"/>
							</div>

							<div class="col-2 title">
								<p class="sensit-langPl font-weight-normal">Status</p>
								<p class="sensit-langEn font-weight-normal">Status</p>
							</div>
							<div class="col-6 content">
								<button class="btn btn-sm btn-outline-success sensit-btn-height">
									<p class="sensit-langPl">OCZEKUJE</p>	
									<p class="sensit-langEn">waiting</p>
								</button>
								<button class="btn btn-sm btn-outline-secondary sensit-btn-height">
									<p class="sensit-langPl">W TOKU</p>	
									<p class="sensit-langEn">in progress</p>
								</button>
								<button class="btn btn-sm btn-outline-secondary sensit-btn-height">
									<p class="sensit-langPl">ANULOWANY</p>	
									<p class="sensit-langEn">canceled</p>
								</button>
								<button class="btn btn-sm btn-outline-secondary sensit-btn-height">
									<p class="sensit-langPl">ZAKOŃCZONY</p>	
									<p class="sensit-langEn">completed</p>
								</button>
							</div>
						</div>
					</div>
					<div class="col-2 text-right">
						<button class="btn btn-sm btn-outline-danger sensit-btn-height disabled">
							<p class="sensit-langPl">USUŃ</p>	
							<p class="sensit-langEn">del</p>
						</button>
					</div>
				
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 text-right">
						<button class="btn btn-outline-success text-center disabled">
							<p class="sensit-langPl">DODAJ</p>
							<p class="sensit-langEn">ADD</p>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div th:replace="./smnsh/footer" :: footer class="sensit-footer"></div>

</body>
</html>