<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMNSH</title>
	
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	
	<!-- JS -->
	 <script th:src="@{/js/projects/idDetailsAndAttachments.js}"></script> 
	
</head>
<body>

	<div th:replace="./smnsh/header" :: header class="sensit-header"></div>
	<div th:replace="./smnsh/projects/menu-project :: menu-project(projectId=${project.id})" class="sensit-menu"></div>
	
	<div class="container-fluid" style="min-height:250px">
	
		<div class="row cards-in-columns">
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">UMOWY</p>
						<p class="sensit-langEn">CONTRACTS</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'DOC-CONTRACT'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<div class="sensit-tooltip position-absolute top-0 end-0">
									<i class="material-icons fs-4 text-secondary">info</i>
									<span class="sensit-tooltip-text" th:text="${attachment.file.fileName}"></span>
								</div>

								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=contract(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">OFERTY</p>
						<p class="sensit-langEn">OFFERS</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'DOC-OFFER'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<i class="material-icons fs-4 position-absolute top-0 end-0 text-secondary">info</i>
								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=offer(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">PROJEKTY</p>
						<p class="sensit-langEn">PROJECTS</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'PROJECT'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<i class="material-icons fs-4 position-absolute top-0 end-0 text-secondary">info</i>
								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=project(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="row cards-in-columns">
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">ZAMÓWIENIA</p>
						<p class="sensit-langEn">ORDERS</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'DOC-ORDER'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<i class="material-icons fs-4 position-absolute top-0 end-0 text-secondary">info</i>
								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=order(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">FAKTURY</p>
						<p class="sensit-langEn">INVOICES</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'DOC-INVOICE'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<i class="material-icons fs-4 position-absolute top-0 end-0 text-secondary">info</i>
								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=invoice(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card sensit-card">
					<div class="card-header">
						<p class="sensit-langPl">PROTKOŁY ODBIORU</p>
						<p class="sensit-langEn">ACCPETANCE PROTOCOLS</p>
					</div>
					<div class="card-body">
						<div th:if="${project.attachments} ?: '!UNKNOWN'">
							<div th:each="attachment : ${project.attachments}" th:if="${attachment.attachmentCategory.attCategoryCode == 'DOC-PROTOCOL-ACCEPT'}" class="position-relative sensit-attachment-thumbnail">
								<i class="border material-icons border fs-1 border">attachment</i>
								<i class="material-icons fs-4 position-absolute top-0 end-0 text-secondary">info</i>
								<a class="position-absolute end-0 bottom-0" th:href="@{/smnsh/files/download/{id}(id=${attachment.file.id})}">
									<i class="material-icons">download</i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<form method="POST" enctype="multipart/form-data" th:action="@{/smnsh/projects/{id}/attachments?category=protocol(id=${project.id})}">
							<input type="file" name="multipartFile"/>
							<input type="submit" value="+" class="btn btn-sm btn-outline-success"/>
						</form>

					</div>
				</div>
			</div>
		</div>
	
	</div>

	<div th:replace="./smnsh/footer" :: footer class="sensit-footer"></div>

</body>
</html>