<head>
	<meta charset="UTF-8">
</head>

<div th:fragment="menu-project (projectId)" class="sensit-menu">
		<div>
			<ul class="nav nav-pills mb-2">
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{/smnsh/projects/{projectId}(projectId=${projectId})}">
						<p class="sensit-langPl">DANE PODSTAWOWE/HANDLOWE</p>
						<p class="sensit-langEn">basic/trade data</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{|/smnsh/projects/${project.id}/configurations|}">
						<p class="sensit-langPl">KONFIGURACJA I SZKOLENIA</p>
						<p class="sensit-langEn">configuration and training</p>
					</a>
				</li>				
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{/smnsh/projects/{projectId}/milestones(projectId=${projectId})}">
						<p class="sensit-langPl">KAMIENIE MILOWE</p>
						<p class="sensit-langEn">milestones</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{/smnsh/projects/{projectId}/stakeholders(projectId=${projectId})}">
						<p class="sensit-langPl">INTERESARIUSZE</p>
						<p class="sensit-langEn">stakeholders</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{/smnsh/projects/{projectId}/attachments(projectId=${projectId})}">
						<p class="sensit-langPl">ZAŁĄCZNIKI</p>
						<p class="sensit-langEn">attachments</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link" th:href="@{/smnsh/projects/{projectId}/remarks(projectId=${projectId})}">
						<p class="sensit-langPl">UWAGI</p>
						<p class="sensit-langEn">remarks</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
						<p class="sensit-langPl">ZAMÓWIENIE KONCEPCJI/WYTYCZNYCH</p>
						<p class="sensit-langEn">order the design</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
						<p class="sensit-langPl">EKSPORT KPDS</p>
						<p class="sensit-langEn">kpds doc. esxport</p>
					</a>
				</li>
				<li class="nav-item m-1">
					<a class="nav-link disabled" href="#">
						<p class="sensit-langPl">HISTORIA</p>
						<p class="sensit-langEn">history</p>
					</a>
				</li>
			</ul>
		</div>
</div>