<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title>SMNSH</title>
	
	<!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	<!-- CSS -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	
	<!-- JS -->
	<script th:src="@{/js/companies/allSubcontractors.js}"></script> 
</head>
<body>

	<div th:replace="./smnsh/header" :: header class="sensit-header"></div>
	
	<div class="container" style="min-height:250px">
	
		<!-- TODO 2023-06-18 sort columns -->
		<table class="table table-hover">
		  <thead>
		    <tr>
		    	<td colspan="5">
			      	<a href="/smnsh/companies/new?companyCategoryEnumString=subcontractor" class="d-inline-block btn btn-outline-success text-center float-right">
				      	<p class="sensit-langPl">NOWY PODWYKONAWCA</p>
				      	<p class="sensit-langEn">new subcontrator</p>
			      	</a>
		      	</td>
		    </tr>
		    <tr>
		      <th scope="col">
		      	<p class="sensit-langPl">NAZWA</p>
		      	<p class="sensit-langEn">name</p>
		      </th>
		      <th scope="col">
		      	<p class="sensit-langPl">ADRES</p>
		      	<p class="sensit-langEn">address</p>
	      		</th>
		      <th scope="col">
		      	<p class="sensit-langPl">KONTAKT</p>
		      	<p class="sensit-langEn">contact</p>
		      </th>	
		      <th scope="col">
		      	<p class="sensit-langPl">REPUTACJA</p>
		      	<p class="sensit-langEn">reputation</p>
		      </th>	
		      <th scope="col">
		      	<p class="sensit-langPl">...</p>
		      	<p class="sensit-langEn"></p>
		      </th>	
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="company: ${companies}">
		      <td th:text="${company.name}"></td>
		      <td th:text=
		      			"
		      				${company.contactDetails.address.country} +'; ' + 
		      				${company.contactDetails.address.zipCode} +' ' + ${company.contactDetails.address.city} +', ' +
							${company.contactDetails.address.streetName} + ' ' + ${company.contactDetails.address.streetNo}
						">
		      
		      </td>
		      <td th:text="..."></td>
		      <td>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=green(companyId=${company.id})}" th:id="'labelEnumGreenForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'GREEN' ? 'border border-success bg-success text-success fs-4' : 'border border-success text-success opacity-25 fs-6'}" th:text="_"></a>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=yellow(companyId=${company.id})}" th:id="'labelEnumYellowForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'YELLOW' ? 'border border-warning bg-warning text-warning fs-4' : 'border border-warning text-warning opacity-25 fs-6'}" th:text="_"></a>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=red(companyId=${company.id})}" th:id="'labelEnumRedForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'RED' ? 'border border-danger bg-danger text-danger fs-4' : 'border border-danger text-danger  opacity-25 fs-6'}" th:text="_"></a>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=black(companyId=${company.id})}" th:id="'labelEnumBlackForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'BLACK' ? 'border border-dark bg-dark text-dark fs-4' : 'border border-dark text-dark opacity-25 fs-6'}" th:text="_"></a>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=gray(companyId=${company.id})}" th:id="'labelEnumGrayForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'GRAY' ? 'border border-light bg-light text-light fs-4' : 'border border-light text-light opacity-25 fs-6'}" th:text="_"></a>
		      	<a th:href="@{/smnsh/companies/setLabel/{companyId}?label=blue(companyId=${company.id})}" th:id="'labelEnumBlueForCompanyId-'+${company.id}" th:class="labelEnum" th:classappend="${company.labelEnum.name() == 'BLUE' ? 'border border-primary bg-primary text-secondary fs-4' : 'border border-secondary text-primary opacity-25 fs-6'}" th:text="_"></a>
		      </td>
		      <td>
		      	<a href="#" class="btn btn-outline-secondary sensit-btn-height">
		      		<p class="sensit-langPl">EDYCJA</p>
		      		<p class="sensit-langEn">edit</p>
		      	</a>
		      </td>
		    </tr>
		  </tbody>
			<tfoot>
			    <tr>
			    	<td colspan="5">
				      	<a href="/smnsh/companies/new?companyCategoryEnumString=subcontractor" class="d-inline-block btn btn-outline-success text-center float-right">
					      	<p class="sensit-langPl">NOWY PODWYKONAWCA</p>
					      	<p class="sensit-langEn">new subcontractor</p>
				      	</a>
			      	</td>
			    </tr>
			</tfoot>
		</table>
		
	</div>
	
	<div th:replace="./smnsh/footer" :: footer class="sensit-footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	
</body>
</html>